MONGO_URI=mongodb+srv://mohanavarshini86100_db_user:viki@cluster0.2dydiza.mongodb.net/?appName=Cluster0
JWT_SECRET=your_long_random_string_here
PORT=5000
NODE_ENV=production
ADMIN_EMAIL=admin@techmart.com
ADMIN_PASSWORD=Admin@2026
STRIPE_SECRET_KEY=sk_test_YOUR_KEY
STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_KEY
FRONTEND_URL=https://your-app.onrender.com
